<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>copy—paste</title>

	<style type="text/css" media="screen">
		*{font-size:1em;font-weight:normal;margin:0;padding:0}
		body{background:#fff;color:#333;font:66%/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;margin:3em auto;position:relative;width:80%}
		a{color:inherit;text-decoration:none}
		a:hover{color:#b12;text-decoration:underline}
		ul{color:#000;font-size:6em;line-height:1.5em}
		ul li{display:inline;list-style:none}
		.arrow{font-family:"Lucida Grande"}
		.ligature{font-family:"Hoefler Text","Big Caslon"}
		#header{border-bottom:1px solid #ddd;color:#555;font-size:1em;font-weight:normal;margin:-1px 0 1.5em;padding:0 0 1.5em}
		#header p{color:#ccc}
		#sneeu a{background:#b12;color:#fff;line-height:1em;padding:1em;position:absolute;right:0;top:-3em}
	</style>

	<link href="{{ media_url }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/mint/?js" type="text/javascript"></script>

</head>
<body>

	<div id="header">
		<h1><a href="" id="home">copy—paste</a> for <a href="http://sneeu.com/">John Sutherland</a></h1>
		<p>I wanted my own <a href="http://www.copypastecharacter.com/">copypastecharacter.com</a> … so I made this.</p>
		<p id="sneeu"><a href="http://sneeu.com/">sneeu.com</a></p>
	</div>

	<ul id="characters">
		<li class="quotemark"><abbr title="laquo">«</abbr></li>
		<li class="quotemark"><abbr title="raquo">»</abbr></li>
		<li class="quotemark"><abbr title="lsaquo">‹</abbr></li>
		<li class="quotemark"><abbr title="rsaquo">›</abbr></li>
		<li class="quotemark"><abbr title="lsquo">‘</abbr></li>
		<li class="quotemark"><abbr title="rsquo">’</abbr></li>
		<li class="quotemark"><abbr title="ldquo">“</abbr></li>
		<li class="quotemark"><abbr title="rdquo">”</abbr></li>
		<li class="typesetting"><abbr title="para">¶</abbr></li>
		<li class="typesetting"><abbr title="sect">§</abbr></li>
		<li class="typesetting"><abbr title="dagger">†</abbr></li>
		<li class="typesetting"><abbr title="Dagger">‡</abbr></li>
		<li class="typesetting"><abbr title="hellip">…</abbr></li>
		<li class="typesetting"><abbr title="bull">•</abbr></li>
		<li class="typesetting">‽</li>
		<li class="typesetting">✔</li>
		<li class="typesetting"><abbr title="ndash">–</abbr></li>
		<li class="typesetting"><abbr title="mdash">—</abbr></li>
		<li class="legal"><abbr title="reg">®</abbr></li>
		<li class="legal"><abbr title="copy">©</abbr></li>
		<li class="legal"><abbr title="trade">™</abbr></li>
		<li class="mathematic"><abbr title="not">¬</abbr></li>
		<li class="mathematic"><abbr title="deg">°</abbr></li>
		<li class="mathematic"><abbr title="minus">−</abbr></li>
		<li class="mathematic"><abbr title="times">×</abbr></li>
		<li class="mathematic"><abbr title="divide">÷</abbr></li>
		<li class="mathematic"><abbr title="pi">π</abbr></li>
		<li class="mathematic"><abbr title="plusmn">±</abbr></li>
		<li class="mathematic"><abbr title="radic">√</abbr></li>
		<li class="mathematic"><abbr title="permil">‰</abbr></li>
		<li class="mathematic"><abbr title="infin">∞</abbr></li>
		<li class="mathematic"><abbr title="asymp">≈</abbr></li>
		<li class="mathematic"><abbr title="sup1">¹</abbr></li>
		<li class="mathematic"><abbr title="sup2">²</abbr></li>
		<li class="mathematic"><abbr title="sup3">³</abbr></li>
		<li class="mathematic"><abbr title="frac14">¼</abbr></li>
		<li class="mathematic"><abbr title="frac12">½</abbr></li>
		<li class="mathematic"><abbr title="frac34">¾</abbr></li>
		<li class="mathematic"><abbr title="frasl">⁄</abbr></li>
		<li class="mathematic"><abbr title="there4">∴</abbr></li>
		<li class="apple"></li>
		<li class="apple">⌘</li>
		<li class="apple">⌥</li>
		<li class="apple">↩</li>
		<li class="apple">⌃</li>
		<li class="apple">⇧</li>
		<li class="arrow"><abbr title="larr">←</abbr></li>
		<li class="arrow"><abbr title="rarr">→</abbr></li>
		<li class="arrow"><abbr title="uarr">↑</abbr></li>
		<li class="arrow"><abbr title="darr">↓</abbr></li>
		<li class="arrow"><abbr title="lArr">⇐</abbr></li>
		<li class="arrow"><abbr title="rArr">⇒</abbr></li>
		<li class="arrow"><abbr title="uArr">⇑</abbr></li>
		<li class="arrow"><abbr title="dArr">⇓</abbr></li>
		<li class="card"><abbr title="spades">♠</abbr></li>
		<li class="card"><abbr title="diams">♦</abbr></li>
		<li class="card"><abbr title="clubs">♣</abbr></li>
		<li class="card"><abbr title="hearts">♥</abbr></li>
		<li class="music">♪</li>
		<li class="music">♫</li>
		<li class="music">♯</li>
		<li class="continental"><abbr title="Oslash">Ø</abbr></li>
		<li class="continental"><abbr title="oslash">ø</abbr></li>
		<li class="continental"><abbr title="AElig">Æ</abbr></li>
		<li class="continental"><abbr title="aelig">æ</abbr></li>
		<li class="continental"><abbr title="Uuml">Ü</abbr></li>
		<li class="continental"><abbr title="uuml">ü</abbr></li>
		<li class="continental"><abbr title="Eacute">É</abbr></li>
		<li class="continental"><abbr title="eacute">é</abbr></li>
		<li class="continental"><abbr title="Egrave">È</abbr></li>
		<li class="continental"><abbr title="egrave">è</abbr></li>
		<li class="continental"><abbr title="Ccedil">Ç</abbr></li>
		<li class="continental"><abbr title="ccedil">ç</abbr></li>
		<li class="ligature">ﬀ</li>
		<li class="ligature">ﬁ</li>
		<li class="ligature">ﬂ</li>
		<li class="ligature st">ﬆ</li>
	</ul>

</body>
</html>
