{% extends "base.html" %}


{% block content %}
	<h2>Django</h2>
	<p>All the server-side code is written in Python using the Django&nbsp;framework.</p>

	<h2>Servers</h2>
	<p>nginx proxies requests to Apache, which uses mod_python. memcached is used for&nbsp;caching.</p>

	<h2>Blog</h2>
	<p>The blog is hand-rolled—the code isn&rsquo;t too hot, so you&rsquo;d be better off building your&nbsp;own.</p>

	<h2>Tumble</h2>
	<p>The tumblog is powered by FriendFeed—FriendFeed pulls everything from Flickr, Delicious, Last.fm, Twitter, Vimeo, BrightKite, the blog here and my shared items on Google Reader to give you a complete picture of what I&rsquo;m&nbsp;doing.</p>
{% endblock %}
