<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>US Holiday</title>

		<style type="text/css" media="screen">
			*{margin:0;padding:0}
			body{font:100%/1.5em "Lucida Grande","Lucida Sans";margin:2em}
			h1{font-size:2em;line-height:1.5em;padding:0.75em 0}
			h2{font-size:1.5em;line-height:1em;padding:1.5em 0 0.5em}
			table,th,td{border:1px solid #bbb;border-collapse:collapse;padding: 0.5em;}
		</style>
	</head>
	<body>
		<h1>US Holiday</h1>

		<h2>Flights</h2>
		<table>
			<thead>
				<tr>
					<td></td>
					<th>Date</th>
					<th>Depart</th>
					<th>Arrive</th>
					<th>Flight</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Out</th>
					<td>Mon 13/Oct/08</td>
					<td>12.30</td>
					<td>15.20</td>
					<td>Continental CO109</td>
					<td>Edinburgh [EDI]—Newark [EWK]</td>
				</tr>
				<tr>
					<th scope="row">Return</th>
					<td>Thurs 23/Oct/08</td>
					<td>22.15</td>
					<td>10.00</td>
					<td>Continental CO108</td>
					<td>Newark [EWK]—Edinburgh [EDI]</td>
				</tr>
			</tbody>
		</table>

		<h2>Route</h2>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=d&amp;saddr=New+York,+NY,+USA&amp;daddr=CT-34+W+to:I-95+N+to:I-195+E+to:Mid-Cape+Hwy%2FUS-6+E+to:RT-3+N+to:Boston,+MA,+USA+to:Cambridge+Turnpike%2FRT-2+to:Fitzwilliam+Rd%2FRT-119+to:42.853442,-72.558689+to:I-91+S+to:New+York,+NY,+USA&amp;hl=en&amp;geocode=%3BFWI0dgIdfE-n-w%3BFWQWfgIdJEW--w%3BFYiVewIdtKjF-w%3BFaIgfAIdcoDQ-w%3BFbAgggId3JbI-w%3B%3BFbyWhwIdkBPA-w%3BFRRijAIdUjix-w%3B%3BFTCJdgIdjt2n-w%3B&amp;mra=dme&amp;mrcr=1&amp;mrsp=9&amp;sz=14&amp;via=1,2,3,4,5,7,8,9,10&amp;sll=42.844695,-72.561092&amp;sspn=0.061609,0.068922&amp;ie=UTF8&amp;t=p&amp;s=AARTsJowpV3SDSS8MQI3GIUxZvx-GAscaQ&amp;ll=41.812267,-72.191162&amp;spn=2.865907,4.669189&amp;z=7&amp;output=embed"></iframe>

		<h2>Itinerary</h2>
		<table>
			<tbody>
				<tr>
					<th scope="row">13th</th>
					<td>New York, NY</td>
					<td><a href="http://www.hotelbelleclaire.com/">Hotel Belleclaire</a></td>
				</tr>
				<tr>
					<th scope="row">14th</th>
					<td>New York, NY</td>
					<td>Hotel Belleclaire</td>
				</tr>
				<tr>
					<th scope="row">15th</th>
					<td>Providence, RI</td>
					<td><strong>TBD</strong></td>
				</tr>
				<tr>
					<th scope="row">16th</th>
					<td>Yarmouth, MA</td>
					<td><a href="http://www.yarmouthresort.com/">Yarmouth Resort</a></td>
				</tr>
				<tr>
					<th scope="row">17th</th>
					<td>Yarmouth, MA</td>
					<td>Yarmouth Resort</td>
				</tr>
				<tr>
					<th scope="row">18th</th>
					<td>Boston, MA</td>
					<td><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1528">Westin Boston</a> (Waterfront)</td>
				</tr>
				<tr>
					<th scope="row">19th</th>
					<td>Boston, MA</td>
					<td>Westin Boston (Waterfront)</td>
				</tr>
				<tr>
					<th scope="row">20th</th>
					<td>Brattleboro, VT</td>
					<td><a href="http://www.meadowlarkinnvt.com/">Meadowlark Inn</a></td>
				</tr>
				<tr>
					<th scope="row">21st</th>
					<td>Hartford, CT</td>
					<td><strong>TBD</strong></td>
				</tr>
				<tr>
					<th scope="row">22nd</th>
					<td><strong>Connecticut coast</strong></td>
					<td><strong>TBD</strong></td>
				</tr>
			</tbody>
		</table>

	</body>
</html>

