{% extends "base.html" %}


{% block extrahead %}
	<link rel="openid.server" href="http://www.myopenid.com/server" />
	<link rel="openid.delegate" href="http://sneeu.myopenid.com/" />

	<link rel="openid2.provider" href="http://www.myopenid.com/server" />
	<link rel="openid2.local_id" href="http://sneeu.myopenid.com/" />
{% endblock %}


{% block body %}
	<div class="vcard">
		<h1 id="branding"><a class="url" href="/" rel="me">sneeu.com</a></h1>

 		<div id="interest">
			<h2><a class="url" href="." rel="me">John Sutherland</a></h2>

			<div id="introduction">
				<p>Send your emails to&#160;<a class="email" href="mailto:john@sneeu.com">john@sneeu.com</a>.</p>
				<p>Call or send text messages to&#160;<a class="tel" href="tel:+447776055955">+44 (0) 7776 055 955</a>.</p>
				<p>And send postcards to: <span class="fn">John Sutherland</span>, <span class="adr"><span class="street-address">1/1 Sheriff Park</span>, <span class="locality">Edinburgh</span>, <span class="postal-code">EH6&#160;6DX</span>&#160;<span class="country-name">Scotland</span></span>.</p>

				<p class="download_vcard"><a href="http://feeds.technorati.com/contact/http://sneeu.com/john/" title="Download these details to your address book">Download vCard</a></p>
			</div>
		</div>
	</div>
{% endblock %}
