<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>

	<link rel="stylesheet" href="{{ media_url }}css/orwell.css" type="text/css" media="screen" charset="utf-8" />
	<title>George Orwell</title>

	<script src="/mint/?js" type="text/javascript"></script>

</head>
<body>

	<div id="container">
		<h1>George Orwell</h1>

		<p class="intro">Nice markup and style-sheets for a great George Orwell essay.</p>

		<h2><a href="tea/">&ldquo;A Nice Cup of Tea&rdquo;, 1946</a></h2>
		<blockquote>
			<p>If you look up &#8216;tea&#8217; in the first cookery book that comes to hand you will probably find that it is unmentioned; or at most you will find a few lines of sketchy instructions which give no 
ruling on several of the most important&nbsp;points.</p>
		</blockquote>

		{% comment %}
 		<h2><a href="language/">&ldquo;Politics and the English Language&rdquo;, 1946</a></h2>
		<blockquote>
			<p>Most people who bother with the matter at all would admit that the English language is in a bad way, but it is generally assumed that we cannot by conscious action do anything about it. Our civilization is 
decadent and our language&mdash;so the argument runs&mdash;must inevitably share in the general collapse. It follows that any struggle against the abuse of language is a sentimental archaism, like preferring candles to electric 
light or hansom cabs to aeroplanes. Underneath this lies the half-conscious belief that language is a natural growth and not an instrument which we shape for our own&nbsp;purposes.</p>
		</blockquote>
		{% endcomment %}
	</div>

	<p id="footer">by <a href="/">John Sutherland</a>.</p>

</body>
</html>
