{% extends 'base.html' %}


{% block title %}{{ block.super }}—projects{% endblock %}


{% block content %}
	<h2><a href="shiftclick/">ShiftClick</a></h2>
	<p>A <a href="http://jquery.com/">jQuery</a> plugin which allows you to shift-click a set of checkboxes like you would files in Finder, Explorer or&nbsp;Nautalus.</p>

	<h2><a href="transparentmessages/">TransparentMessages</a></h2>
	<p>A <a href="http://jquery.com/">jQuery</a> plugin which displays humane monolog messages, a la&nbsp;<a href="http://humanized.com/weblog/2006/09/11/monolog_boxes_and_transparent_messages/">Humanized</a>.</p>
{% endblock %}