<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<title>Scotch Malt Whisky Society (SMWS) Codes</title>

	<meta name="keywords" content="smws,codes,code,whisky,whiskey,distrillery,scotch malt whisky society,scotland,iphone" />
	<meta name="description" content="The Scotch Malt Whisky Society's distillery codes." />
 	<meta name="viewport" content="width=320" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="{{ media_url }}img/whisky.png" />

	<link charset="utf-8" href="{{ media_url }}css/smws.css" media="screen,projection" rel="stylesheet" type="text/css" />

	<script src="/mint/?js" type="text/javascript"></script>

	<script type="text/javascript" charset="utf-8">
		window.onload = function() {
			window.scrollTo(0, 1);
		};
	</script>

</head>
<body>

	<h1>Scotch Malt Whisky Society (<abbr>SMWS</abbr>) Codes</h1>

	<p class="intro">Under the arrangement the <abbr>SMWS</abbr> has with distillers, the Society undertakes not to put the distiller&rsquo;s name on the bottle or to publish a list which matches the numbers to the&nbsp;distilleries.</p>

	<table>
		<tr><td class="code">1</td><td>Glenfarclas</td></tr>
		<tr><td class="code">2</td><td>The Glenlivet</td></tr>
		<tr><td class="code">3</td><td>Bowmore</td></tr>
		<tr><td class="code">4</td><td>Highland Park</td></tr>
		<tr><td class="code">5</td><td>Auchentoshan</td></tr>
		<tr><td class="code">6</td><td>Glen Deveron / Macduff</td></tr>
		<tr><td class="code">7</td><td>Longmorn</td></tr>
		<tr><td class="code">8</td><td>Tamdhu</td></tr>
		<tr><td class="code">9</td><td>Glen Grant</td></tr>
		<tr><td class="code">10</td><td>Bunnahabhain</td></tr>
		<tr><td class="code">11</td><td>Tomatin</td></tr>
		<tr><td class="code">12</td><td>Benriach</td></tr>
		<tr><td class="code">13</td><td>Dalmore</td></tr>
		<tr><td class="code">14</td><td>Talisker</td></tr>
		<tr><td class="code">15</td><td>Glenfiddich</td></tr>
		<tr><td class="code">16</td><td>Glenturret</td></tr>
		<tr><td class="code">17</td><td>Scapa</td></tr>
		<tr><td class="code">18</td><td>Inchgower</td></tr>
		<tr><td class="code">19</td><td>Glen Garioch</td></tr>
		<tr class="dismantled"><td class="code">20</td><td>Inverleven (<abbr title="Dismantled">D</abbr>)</td></tr>
		<tr><td class="code">21</td><td>Glenglassaugh</td></tr>
		<tr><td class="code">22</td><td>Glenkinchie</td></tr>
		<tr><td class="code">23</td><td>Bruichladdich</td></tr>
		<tr><td class="code">24</td><td>The Macallan</td></tr>
		<tr><td class="code">25</td><td>Rosebank</td></tr>
		<tr><td class="code">26</td><td>Clynelish</td></tr>
		<tr><td class="code">27</td><td>Springbank</td></tr>
		<tr><td class="code">28</td><td>Tullibardine</td></tr>
		<tr><td class="code">29</td><td>Laphroaig</td></tr>
		<tr><td class="code">30</td><td>Glenrothes</td></tr>
		<tr><td class="code">31</td><td>Isle of Jura</td></tr>
		<tr><td class="code">32</td><td>Edradour</td></tr>
		<tr><td class="code">33</td><td>Ardbeg</td></tr>
		<tr><td class="code">34</td><td>Tamnavulin</td></tr>
		<tr><td class="code">35</td><td>Glen Moray</td></tr>
		<tr><td class="code">36</td><td>Benrinnes</td></tr>
		<tr><td class="code">37</td><td>Cragganmore</td></tr>
		<tr><td class="code">38</td><td>Caperdonich</td></tr>
		<tr><td class="code">39</td><td>Linkwood</td></tr>
		<tr><td class="code">40</td><td>Balvenie</td></tr>
		<tr><td class="code">41</td><td>Dailuaine</td></tr>
		<tr><td class="code">42</td><td>Ledaig / Tobermory</td></tr>
		<tr class="maltings"><td class="code">43</td><td>Port Ellen (<abbr title="Maltings">M</abbr>)</td></tr>
		<tr><td class="code">44</td><td>Craigellachie</td></tr>
		<tr class="closed"><td class="code">45</td><td>Dallas Dhu (<abbr title="Closed">C</abbr>)</td></tr>
		<tr><td class="code">46</td><td>Glenlossie</td></tr>
		<tr><td class="code">47</td><td>Benromach</td></tr>
		<tr><td class="code">48</td><td>Balmenach</td></tr>
		<tr class="dismantled"><td class="code">49</td><td>Linlithgow / St Magdalene (<abbr title="Dismantled">D</abbr>)</td></tr>
		<tr><td class="code">50</td><td>Bladnoch</td></tr>
		<tr><td class="code">51</td><td>Bushmills</td></tr>
		<tr><td class="code">52</td><td>Old Pulteney</td></tr>
		<tr><td class="code">53</td><td>Caol Ila</td></tr>
		<tr><td class="code">54</td><td>Aberlour</td></tr>
		<tr class="closed"><td class="code">55</td><td>Royal Brackla (<abbr title="Closed">C</abbr>)</td></tr>
		<tr class="closed"><td class="code">56</td><td>Coleburn (<abbr title="Closed">C</abbr>)</td></tr>
		<tr class="dismantled"><td class="code">57</td><td>Glen Mhor (<abbr title="Dismantled">D</abbr>)</td></tr>
		<tr><td class="code">58</td><td>Strathisla</td></tr>
		<tr><td class="code">59</td><td>Teaninich</td></tr>
		<tr><td class="code">60</td><td>Aberfeldy</td></tr>
		<tr><td class="code">61</td><td>Brora</td></tr>
		<tr><td class="code">62</td><td>Glenochy</td></tr>
		<tr><td class="code">63</td><td>Glentauchers</td></tr>
		<tr><td class="code">64</td><td>Mannochmore</td></tr>
		<tr><td class="code">65</td><td>Imperial</td></tr>
		<tr><td class="code">66</td><td>Ardmore</td></tr>
		<tr><td class="code">67</td><td>Banff</td></tr>
		<tr><td class="code">68</td><td>Blair Athol</td></tr>
		<tr><td class="code">69</td><td>Glen Albyn</td></tr>
		<tr><td class="code">70</td><td>Balblair</td></tr>
		<tr class="closed"><td class="code">71</td><td>Glenburgie / Glencraig (<abbr title="Closed">C</abbr>)</td></tr>
		<tr class="closed"><td class="code">72</td><td>Miltonduff (<abbr title="Closed">C</abbr>)</td></tr>
		<tr><td class="code">73</td><td>Aultmore</td></tr>
		<tr class="closed"><td class="code">74</td><td>North Port (<abbr title="Closed">C</abbr>)</td></tr>
		<tr><td class="code">75</td><td>Glenury</td></tr>
		<tr><td class="code">76</td><td>Mortlach</td></tr>
		<tr><td class="code">77</td><td>Glen Ord / Glenordie</td></tr>
		<tr><td class="code">78</td><td>Ben Nevis</td></tr>
		<tr><td class="code">79</td><td>Deanston</td></tr>
		<tr><td class="code">80</td><td>Glen Spey</td></tr>
		<tr><td class="code">81</td><td>Glen Keith</td></tr>
		<tr><td class="code">82</td><td>Glencadam</td></tr>
		<tr class="closed"><td class="code">83</td><td>Convalmore (<abbr title="Closed">C</abbr>)</td></tr>
		<tr><td class="code">84</td><td>Glendullan</td></tr>
		<tr><td class="code">85</td><td>Glen Elgin</td></tr>
		<tr class="maltings"><td class="code">86</td><td>Glen Esk (<abbr title="Maltings">M</abbr>)</td></tr>
		<tr class="dismantled"><td class="code">87</td><td>Millburn (<abbr title="Dismantled">D</abbr>)</td></tr>
		<tr><td class="code">88</td><td>Speyburn</td></tr>
		<tr><td class="code">89</td><td>Tomintoul</td></tr>
		<tr><td class="code">90</td><td>Pittyvaich</td></tr>
		<tr><td class="code">91</td><td>Dufftown</td></tr>
		<tr><td class="code">92</td><td>Lochside</td></tr>
		<tr><td class="code">93</td><td>Glen Scotia</td></tr>
		<tr><td class="code">94</td><td>Fettercairn</td></tr>
		<tr><td class="code">95</td><td>Auchroisk</td></tr>
		<tr><td class="code">96</td><td>Glendronach</td></tr>
		<tr><td class="code">97</td><td>Littlemill</td></tr>
		<tr><td class="code">98</td><td>Lomond</td></tr>
		<tr class="closed"><td class="code">99</td><td>Glenugie (<abbr title="Closed">C</abbr>)</td></tr>
		<tr><td class="code">100</td><td>Strathmill</td></tr>
		<tr><td class="code">101</td><td>Knockando</td></tr>
		<tr><td class="code">102</td><td>Dalwhinnie</td></tr>
		<tr><td class="code">103</td><td>Royal Lochnagar</td></tr>
		<tr><td class="code">104</td><td>Glen Craig</td></tr>
		<tr><td class="code">105</td><td>Tormore</td></tr>
		<tr><td class="code">106</td><td>Cardhu</td></tr>
		<tr><td class="code">107</td><td>Glenallachie</td></tr>
		<tr><td class="code">108</td><td>Allt-a’Bhainne</td></tr>
		<tr><td class="code">109</td><td>Mosstowie</td></tr>
		<tr><td class="code">110</td><td>Oban</td></tr>
		<tr><td class="code">111</td><td>Lagavulin</td></tr>
		<tr><td class="code">112</td><td>Inchmurrin</td></tr>
		<tr><td class="code">113</td><td>Braes of Glenlivet</td></tr>
		<tr><td class="code">114</td><td>Longrow</td></tr>
		<tr><td class="code">115</td><td>Knockdhu</td></tr>
		<tr class="japan"><td class="code">116</td><td>Nikka Distilleries (Japan)</td></tr>
		<tr class="ireland"><td class="code">117</td><td>Cooley (Ireland)</td></tr>
		<tr class="ireland"><td class="code">118</td><td>Connemara (Ireland)</td></tr>
		<tr class="japan"><td class="code">119</td><td>Yamazaki (Suntory, Japan)</td></tr>
		<tr class="japan"><td class="code">120</td><td>Hakushu (Suntory, Japan)</td></tr>
		<tr><td class="code">121</td><td>Isle of Arran</td></tr>
		<tr><td class="code">122</td><td>Croftengea</td></tr>
		<tr><td class="code">123</td><td>Glengoyne</td></tr>
		<tr class="japan"><td class="code">124</td><td>Niyagikyo (Honshu, Japan)</td></tr>
		<tr><td class="code">125</td><td>Glenmorangie</td></tr>
	</table>

</body>
</html>
