<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

	<title>untitled</title>

	<style type="text/css" media="screen">
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			width: 100%;
		}
		object {
			left: 50%;
			margin: -177px 0 0 -212px;
			position: absolute;
			top: 50%;
		}
	</style>

</head>
<body>

	<object width="425" height="344">
		<param name="movie" value="http://www.oneismostamused.co.uk/queen_embed.swf?playlistid=935"></param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<embed src="http://www.oneismostamused.co.uk/queen_embed.swf?playlistid=935" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed>
	</object>

</body>
</html>

