@charset "utf-8";

body {
	background: #fff;
	color: #444;
	font: 100%/1.5em "Lucida Grande","Lucida Sans",sans-serif;
}
a,
a:visited {
	color: #ec972e;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
	color: #f2bb36;
	padding-bottom: 1px;
}
h1 {
	color: #999;
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0 0.75em;
	text-align: center;
}
h2 {
	color: #666;
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 1.2em 0;
	text-align: center;
}
h3 {
	font-weight: bold;
}
p, ol, ul {
	padding: 0 0 1.5em;
}
ol {
	list-style: lower-roman;
}
ul {
	list-style: disc;
}
blockquote {
	color: #666;
	font-style: italic;
	padding: 0 0 1.5em 3em;
}
code {
	font: 100%/0.1em "Lucida Console","Monaco",monospace;
}
q {
	color: #666;
	font-style: italic;
}
q:before {
	content: "“";
}
q:after {
	content: "”";
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

form label {
	display: block;
}
form .textinput input {
	border: 1px solid #bbb;
	color: #444;
	font: 100%/1.5em "Lucida Grande","Lucida Sans",sans-serif;
	margin: -2px -1px 1.5em;
	padding: 0.75em;
}
form .textarea textarea {
	border: 1px solid #bbb;
	color: #444;
	font: 100%/1.5em "Lucida Grande","Lucida Sans",sans-serif;
	margin: -2px -1px 1.5em;
	padding: 0.75em;
}
form .submit button {
	border: 1px solid #bbb;
	color: #444;
	font: 100%/1.5em "Lucida Grande","Lucida Sans",sans-serif;
	margin: -2px -1px 1.5em;
	padding: 0.75em;
}
form .submit button:after {
	content: " »";
}
form .errors {
	color: #e43d24;
	list-style: none;
	margin: 0;
	padding: 0;
}
.caps {
	font-variant: small-caps;
	letter-spacing: 0.1em;
	text-transform: lowercase;
}
.hfeed {
	list-style: none;
}
.hentry {
	padding-bottom: 1.5em;
}
.meta {
	color: #bbb;
	display: block;
	font-size: 0.75em;
	line-height: 2em;
	margin-top: -2em;
	padding: 0;
	text-align: center;
}
.comment_stat {
	text-align: center;
}
.entry-content {
	text-align: left;
}
.entry-content .standfirst {
	font-style: italic;
}
.blogpost .author {
	display: none;
}
.comment_list {
	list-style: none;
}
.comment {
	border-top: 1px solid #bbb;
	margin-top: -1px;
	padding-top: 1.5em;
}
.comment h3 {
	color: #999;
	font-style: italic;
}
.frame {
	text-align: center;
}
.frame img {
	border: 1px solid #bbb;
	padding: 1px;
}
.frame .caption {
	font-style: italic;
}
.paginator {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
.download_vcard a {
	background: url(../img/hcard-download.png) no-repeat center center;
	float: right;
	height: 3em;
	text-indent: -9999px;
	width: 3em;
}
.download_vcard a:hover {
	border: 1px solid #bbb;
	margin: -1px;
}

#interest {
	margin: 3em auto;
	padding: 0 1.5em;
	width: 48em;
}
#feed {
	background: #fff;
	margin-bottom: -1.5em;
	padding: 0 1.5em;
}
#feed a {
	background: url(../img/rss.png) no-repeat left center;
	border: 0;
	color: #fff;
	display: block;
	height: 1.5em;
	margin: 0 auto;
	padding: 0.75em 0;
	text-indent: 48px;
	width: 48em;
}
#feed a span {
	display: none;
}
#feed a:hover {
	color: #ec972e;
}
#feed a:hover span {
	border-bottom: 1px solid;
	display: inline;
	padding-bottom: 1px;
}
