@charset "utf-8";

body {
	background: #fff;
	color: #444;
	font: 100%/1.5em "Georgia",serif;
	margin: 3em auto;
	width: 24em;
}
a {
	color: #06f;
	text-decoration: none;
}
a:hover {
	color: #c12;
}
h1 {
	color: #999;
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0 0.75em;
	text-align: center;
}
h2 {
	color: #666;
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 1.2em 0;
	text-align: center;
}
p, ol, ul {
	padding: 0 0 1.5em;
}
ol {
	list-style: lower-roman;
}
ul {
	list-style: disc;
}
.hfeed {
	list-style: none;
}
.hentry {
	padding-bottom: 1.5em;
}
.meta {
	color: #bbb;
	display: block;
	font-size: 0.75em;
	line-height: 2em;
	margin-top: -2em;
	padding: 0;
	text-align: center;
}
.entry-content {
	text-align: left;
}
.entry-content .standfirst {
	font-style: italic;
}