@charset "utf-8";

body {
	background: #fff;
	color: #444;
	font: 100%/1.5em "Georgia","Times New Roman","Times",sans-serif;
	margin: 3em auto;
	width: 24em;
	padding: 0 1.5em;
}
a {
	color: #03f;
	text-decoration: none;
}
a:visited {
	color: #60c;
}
a:hover {
	color: #c33;
}
h1 {
	color: #999;
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0 0.75em;
	text-align: center;
}
h2 {
	color: #666;
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 1.2em 0;
	text-align: center;
}
p, ol, ul {
	padding: 0 0 1.5em;
}
ol {
	list-style: lower-roman;
}
ul {
	list-style: disc;
}
blockquote {
	color: #666;
	font-style: italic;
	padding: 0 0 1.5em 3em;
}
code {
	font: 100%/0.1em "Lucida Console","Monaco",monospace;
}
q {
	color: #666;
	font-style: italic;
}
q:before {
	content: "“";
}
q:after {
	content: "”";
}
.caps {
	font-variant: small-caps;
	letter-spacing: 0.1em;
	text-transform: lowercase;
}
.hfeed {
	list-style: none;
}
.hentry {
	padding-bottom: 1.5em;
}
.meta {
	color: #bbb;
	display: block;
	font-size: 0.75em;
	line-height: 2em;
	margin-top: -2em;
	padding: 0;
	text-align: center;
}
.entry-content {
	text-align: left;
}
.entry-content .standfirst {
	font-style: italic;
}
.author {
	display: none;
}
.frame {
	text-align: center;
}
.frame a img {
	border: 1px solid #bbb;
	padding: 1px;
}
.paginator {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
.download_vcard a {
	background: url(../img/hcard-download.png) no-repeat;
	float: right;
	height: 18px;
	padding: 10px;
	text-indent: -9999px;
	width: 29px;
}