@charset "utf-8";

@import "reset.css";


body {
	background: #fff;
	color: #333;
	font: 100%/1.5em Georgia;
	margin: 3em auto;
	width: 48em; /* 14 3 14 3 14 */
}
h1 {
	border-bottom: 1px solid #ddd;
	font-size: 2em;
	line-height: 1.5em;
	margin: -1px 0 0.75em;
}
h2 {
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 0.6em 0;
}
p,
ol,
ul {
	padding: 0 0 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: lower-roman;
}
blockquote {
	font-style: italic;
}
cite {
	display: block;
	font-style: italic;
	text-align: right;
}
a {
	border-bottom: 1px solid;
	color: #000;
	padding-bottom: 1px;
	text-decoration: none;
}
a:hover {
	color: #a12;
}

.intro {
	color: #a12;
	font-style: italic;
}
.cite {
	margin-top: -1.5em;
	padding: 0 0 1.5em;
}
.footnote {
	color: #999;
	float: right;
	font-size: 0.8em;
	line-height: 1.875em;
	margin-right: -21.25em;
	width: 17.5em;
}

#container {
	width: 31em;
}
#footer,
#footer a {
	color: #bbb;
}