<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Books—{{ chapter }}</title>

	<link charset="utf-8" href="{{ media_url }}css/ebooks.css" media="screen" rel="stylesheet" type="text/css" />
	{% load typogrify %}

</head>
<body>

	<div id="container">
		<h1 id="title">{{ chapter }}</h1>
		<p class="meta">{{ chapter.book.author }} ({{ chapter.book.year }})</p>
		{{ chapter.copy|typogrify|safe }}
	</div>

</body>
</html>