<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>sneeu.com</title>

	<link charset="utf-8" href="/media/css/reset.css" media="screen,projection" rel="stylesheet" type="text/css" />
	<link charset="utf-8" href="/media/css/base.css" media="screen,projection" rel="stylesheet" type="text/css" />

</head>
<body>

	<h1>Five&ndash;fucking&nbsp;hundred!</h1>

	<p>This really doesn&rsquo;t look very good at all &hellip; give the  <a href="/">home page</a> a&nbsp;go.</p>

</body>
</html>
