{% extends "base.html" %}


{% load iso typogrify %}


{% block content %}

	<div class="hentry">
		{% with object as post %}
			<h2><a class="entry-title" rel="bookmark" href="{{ post.get_absolute_url }}">{{ post.headline|typogrify|safe }}</a></h2>
			<p class="meta"><abbr class="published updated" title="{{ post.created|iso8601 }}">{{ post.created|date:"d/N/Y" }}</abbr></p>
			<div class="entry-content">
				{% if post.standfirst %}<p class="standfirst">{{ post.standfirst|safe }}</p>{% endif %}
				{{ post.copy|typogrify|safe }}
			</div>
			<p class="author vcard"><a href="{% url apps.core.views.john %}" class="url"><abbr class="fn" title="John Sutherland">John</abbr></a></p>
		{% endwith %}
	</div>

{% endblock %}